div.main-resizable
  clear: both
  width: 100%
  position: absolute
  div.resizable
    border: medium
    position: relative
    background-color: #CACECF
    float: left
    opacity: 0.5
  div.resizable-handler
    width: 5px
    padding: 15px
    height: auto
    background-color: green
    cursor: e-resize
    float: right

table.resizable
  td
    border: 1px solid
